{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "CosmosDbConnectionString": "YOUR_COSMOS_CONNECTION_STRING",
    "CosmosDbDatabaseName": "helios365",
    "CosmosDbCustomersContainer": "customers",
    "CosmosDbResourcesContainer": "resources", 
    "CosmosDbAlertsContainer": "alerts",
    "CosmosDbServicePrincipalsContainer": "servicePrincipals",
    "CosmosDbActionsContainer": "actions",
    "CosmosDbUsersContainer": "users",
    "CosmosDbOnCallPlansContainer": "onCallPlans",
    "CosmosDbOnCallTeamsContainer": "onCallTeams",
    "CosmosDbPlanBindingsContainer": "planBindings",
    "CosmosDbScheduleSlicesContainer": "scheduleSlices",
    "KeyVaultUri": "YOUR_KEYVAULT_URI",
    "CommunicationServices:ConnectionString": "YOUR_ACS_CONNECTION_STRING",
    "CommunicationServices:EmailSender": "alerts@helios365.io",
    "CommunicationServices:SmsSender": "+15555555555",
    "ASPNETCORE_ENVIRONMENT": "Development",
    "AZURE_FUNCTIONS_ENVIRONMENT": "Development",
    "AzureWebJobsDisableHomepage": "true",
    "languageWorkers__workersDirectory": ""
  }
}
