@page "/privacy"
@attribute [Authorize(Policy = "ReaderOrAbove")]

<PageTitle>Privacy Policy & Terms</PageTitle>

<MudPaper Class="pa-6">
    <MudStack Spacing="4">
        <div>
            <MudText Typo="Typo.h4">Privacy Policy</MudText>
            <MudText Typo="Typo.caption" Color="Color.Secondary">Last updated: January 2026</MudText>
        </div>

        <MudDivider />

        <PolicyContent ShowDivider="true" />

        <MudDivider Class="my-6" />

        <MudText Typo="Typo.h6">Questions and Support</MudText>
        <MudText Typo="Typo.body2">
            If you have privacy questions or need support, reach out to your Helios365 administrator.
        </MudText>
    </MudStack>
</MudPaper>
