<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
    <MudThemeProvider Theme="_theme" />
    <MudDialogProvider />
    <MudPopoverProvider />
    <MudSnackbarProvider />
</CascadingAuthenticationState>

@code {
    private readonly MudTheme _theme = new()
    {
        PaletteLight = new PaletteLight
        {
            Primary = "#4ca554",
            PrimaryContrastText = "#ffffff",
            Secondary = "#757575",
            SecondaryContrastText = "#ffffff"
        },
        PaletteDark = new PaletteDark
        {
            Primary = "#53ce5d",
            PrimaryContrastText = "#000000",
            Secondary = "#9e9e9e",
            SecondaryContrastText = "#000000"
        }
    };
}
