{
  "DetailedErrors": true,
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft.AspNetCore": "Information"
    }
  },
  "AzureAd": {
    "Domain": "<entra domain>",
    "TenantId": "<tenant id>",
    "ClientId": "<client id>",
    "ClientSecret": "<client secret>"
  },
  "DirectoryService": {
    "Groups": {
      "Admin": "<entra-group-id-for-admin>",
      "Operator": "<entra-group-id-for-operator>",
      "Reader": "<entra-group-id-for-reader>"
    }
  },
  "KeyVault": {
    "VaultUri": "<key vault uri>"
  },
  "CosmosDb": {
    "ConnectionString": "<cosmos db connection string>"
  },
  "CommunicationServices": {
    "ConnectionString": "<communication services connection string>",
    "EmailSender": "<email sender, e.g. no-reply@contoso.com>",
    "SmsSender": "<sms sender phone number>"
  }
}
